<%- include("../common/metadata.ejs") %>
    <%- include("../common/header.ejs") %>


        <div class="d-block ">
            <img class="mx-auto w-25 d-block " src="/success.gif" />
            <div class="w-50 mx-auto">
                <h1 class="text-center  text-success display-5 mb-4">
                    <%- heading -%>
                </h1>
                <p class="text-center  mb-3">
                    <%- description -%>
                </p>
                <center><a href="/"><button class="btn mb-3 btn-primary w-75 fw-bold py-3 px-5 rounded-0 shadow-none">Back to
                        Home</button></a></center>
            </div>
        </div>

        <%- include("../common/metadatabottom.ejs") %>
            <%- include("../common/footer.ejs") %>